In [1]:
import pandas as pd
import pytz
import numpy as np
import os
from sklearn import preprocessing
import re
import matplotlib
from matplotlib.patches import Polygon, Rectangle
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

matplotlib.use('Qt5Agg')
from datetime import timedelta
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from casadi import *
import calendar
import casadi as cd
from sklearn.linear_model import LinearRegression
import matplotlib.dates as mdates
import warnings
warnings.filterwarnings('ignore')

In [2]:
def custom_date_parser(date_string):
    return pd.to_datetime(date_string, format='%d-%m-%Y %H:%M:%S')

# Specify the path to the main directory containing folders and files
path = 'D:\\mlinternship\\iitgdata'
folders = [folder for folder in os.listdir(path) if os.path.isdir(os.path.join(path, folder))]
df_list = []

# Iterate through each folder
for folder in folders:
    # Construct the full path to the current folder
    folder_path = os.path.join(path, folder)
    # Iterate through files in the current folder
    for filename in os.listdir(folder_path):
        # Check if the file has the '.xlsx' extension
        if filename.endswith('.xlsx'):
            # Construct the full path to the Excel file
            file_path = os.path.join(folder_path, filename)
            # Use the custom date parser function
            df = pd.read_excel(file_path, header=3, date_parser=custom_date_parser)
            # Append the dataframe to the list
            df_list.append(df)

bill_path = 'D:\\mlinternship\\IITGuwahatiElectricityBills'
for filename in os.listdir(bill_path):
    # Check if the file has the '.xlsx' extension
    if filename.endswith('.xlsx'):
        file_path = os.path.join(bill_path, filename)
        bill_df = pd.read_excel(file_path)

bill_df['Month'] = pd.to_datetime(bill_df['Month'])
#I assumed its in kilowatts
bill_df['MW'] = bill_df['Number of units of electricity consumed']/1000
bill_df.drop(['Number of units of electricity consumed'], axis=1)
bill_df

        Month         MW
0  2022-01-01  1415.4246
1  2022-02-01  1353.4260
2  2022-03-01  2254.4145
3  2022-04-01  2269.1010
4  2022-05-01  2690.4150
5  2022-06-01  2708.4910
6  2022-07-01  3113.6625
7  2022-08-01  3606.0495
8  2022-09-01  3335.3190
9  2022-10-01  2787.5835
10 2022-11-01  2230.0764
11 2022-12-01  1809.5913
12 2023-01-01  1859.8434
13 2023-02-01  1829.5317
14 2023-03-01  2238.3650
15 2023-04-01  2615.2850
16 2023-05-01        NaN
17 2023-06-01  3112.0245
18 2023-07-01  3376.0350
19 2023-08-01  3896.1580

        Month  Number of units of electricity consumed         MW
0  2022-01-01                                1415424.6  1415.4246
1  2022-02-01                                1353426.0  1353.4260
2  2022-03-01                                2254414.5  2254.4145
3  2022-04-01                                2269101.0  2269.1010
4  2022-05-01                                2690415.0  2690.4150
5  2022-06-01                                2708491.0  2708.4910
6  2022-07-01                                3113662.5  3113.6625
7  2022-08-01                                3606049.5  3606.0495
8  2022-09-01                                3335319.0  3335.3190
9  2022-10-01                                2787583.5  2787.5835
10 2022-11-01                                2230076.4  2230.0764
11 2022-12-01                                1809591.3  1809.5913
12 2023-01-01                                1859843.4  1859.8434
13 2023-02-01                                1829531.7  1829.5317
14 2023-03-01                                2238365.0  2238.3650
15 2023-04-01                                2615285.0  2615.2850
16 2023-05-01                                      NaN        NaN
17 2023-06-01                                3112024.5  3112.0245
18 2023-07-01                                3376035.0  3376.0350
19 2023-08-01                                3896158.0  3896.1580

In [3]:
temperature_data_path = 'D:\\mlinternship\\iitgdata\\temperaturedata\\report'
temperature_df_list = []
for filename in os.listdir(temperature_data_path):
        # Check if the file has the '.xlsx' extension
        if filename.endswith('.xlsx'):
            # Construct the full path to the Excel file
            file_path = os.path.join(temperature_data_path, filename)
            # Use the custom date parser function
            df = pd.read_excel(file_path, header=18, date_parser=custom_date_parser)
            df = df[['DATE(YYYY-MM-DD)', 'TIME (UTC)', "TEMP. ('C)"]]
            # Append the dataframe to the list
            temperature_df_list.append(df)
temperature_df = pd.concat(temperature_df_list, ignore_index=True)
temperature_df['Time'] = pd.to_datetime(temperature_df['DATE(YYYY-MM-DD)'] + ' ' + temperature_df['TIME (UTC)'])
# Rename the 'TEMP. ('C)' column to 'temperature'
temperature_df.rename(columns={"TEMP. ('C)": 'temperature'}, inplace=True)
# Drop the 'DATE(YYYY-MM-DD)' and 'TIME (UTC)' columns from temperature_df
temperature_df = temperature_df.drop(['DATE(YYYY-MM-DD)', 'TIME (UTC)'], axis=1)
temperature_df = temperature_df.sort_values(by='Time')
temperature_df.reset_index(drop = True, inplace = True)
temperature_df
#read the power data
power_df = pd.concat(df_list, ignore_index=True)

power_df['Time'] = pd.to_datetime(power_df['Time'])
power_df['Time'] = power_df['Time'].round('min')
#replace all the 'NR' values in MW column to NaN
power_df['MW'] = power_df['MW'].replace('NR', np.nan)
power_df['MW'] = power_df['MW'].replace('nr', np.nan)
power_df = power_df[['Time', 'MW']]
power_df['MW'] = power_df['MW'].astype(str)
power_df['MW'] = pd.to_numeric(power_df['MW'].str.replace(',', '.'), errors='coerce')
power_df['Time'] = pd.to_datetime(power_df['Time'])
power_df = power_df.sort_values('Time')
power_df.to_csv('power_datacsv.csv')
full_power_df = power_df.copy()

# read the temperature data csv
'''
temperature_data_csv_path = 'D:\\mlinternship\\iitgdata\\temperaturedata'
filename = 'guwahati_temperature_data.csv'
file = os.path.join(temperature_data_csv_path, filename)
temperature_df = pd.read_csv(file)
temperature_df.rename(columns={'valid': 'Time'}, inplace = True)
temperature_df = temperature_df.rename(columns={'tmpc': 'temperature'})
temperature_df = temperature_df[['Time', 'temperature']]
temperature_df['Time'] = pd.to_datetime(temperature_df['Time'])
temperature_df['Time'] = pd.DatetimeIndex(temperature_df['Time']) + timedelta(hours=5,minutes=30)
temperature_df['temperature'] = pd.to_numeric(temperature_df['temperature'], errors='coerce')
temperature_df.set_index('Time', inplace=True)
temperature_df['temperature'] = temperature_df['temperature'].interpolate(method='polynomial', order = 5)
temperature_df.reset_index(inplace=True)
'''
# joining the two dataframes such that the temperature data is only taken if there exists a reading in the power data dataframe
df = pd.merge(power_df, temperature_df, on='Time', how='left')
df['temperature'] = df['temperature'].interpolate(method='polynomial', order = 5)
df['Time'] = pd.to_datetime(df['Time'])

full_model_part1_start_time = pd.Timestamp('2023-05-03 00:00:00')
full_model_part1_end_time = pd.Timestamp('2023-06-06 23:00:00')
full_model_part2_start_time =  pd.Timestamp('2023-06-16 00:00:00')
full_model_part2_end_time = pd.Timestamp('2023-06-27 23:00:00')
df = df[((df['Time'] >= full_model_part1_start_time) & (df['Time'] <= full_model_part1_end_time)) | ((df['Time'] >= full_model_part2_start_time) & (df['Time'] <= full_model_part2_end_time)) ]
df = df.drop(df[df['MW'] > 20].index)
df = df.sort_values('Time')
df.reset_index(drop=True)
df

      temperature                Time
0            22.0 2023-05-03 00:00:00
1            22.3 2023-05-03 00:15:00
2            22.5 2023-05-03 00:30:00
3            23.2 2023-05-03 00:45:00
4            23.1 2023-05-03 01:00:00
...           ...                 ...
4423         26.3 2023-06-27 22:45:00
4424         26.2 2023-06-27 23:00:00
4425         26.2 2023-06-27 23:15:00
4426         26.3 2023-06-27 23:30:00
4427         26.5 2023-06-27 23:45:00

[4428 rows x 2 columns]

"\ntemperature_data_csv_path = 'D:\\mlinternship\\iitgdata\\temperaturedata'\nfilename = 'guwahati_temperature_data.csv'\nfile = os.path.join(temperature_data_csv_path, filename)\ntemperature_df = pd.read_csv(file)\ntemperature_df.rename(columns={'valid': 'Time'}, inplace = True)\ntemperature_df = temperature_df.rename(columns={'tmpc': 'temperature'})\ntemperature_df = temperature_df[['Time', 'temperature']]\ntemperature_df['Time'] = pd.to_datetime(temperature_df['Time'])\ntemperature_df['Time'] = pd.DatetimeIndex(temperature_df['Time']) + timedelta(hours=5,minutes=30)\ntemperature_df['temperature'] = pd.to_numeric(temperature_df['temperature'], errors='coerce')\ntemperature_df.set_index('Time', inplace=True)\ntemperature_df['temperature'] = temperature_df['temperature'].interpolate(method='polynomial', order = 5)\ntemperature_df.reset_index(inplace=True)\n"

                    Time   MW  temperature
0    2023-05-03 00:00:00  3.0    22.000000
1    2023-05-03 01:00:00  NaN    23.100000
2    2023-05-03 02:00:00  NaN    25.800000
3    2023-05-03 03:00:00  2.5    27.800000
4    2023-05-03 04:00:00  NaN    29.500000
...                  ...  ...          ...
1124 2023-06-27 19:00:00  5.7    26.900000
1125 2023-06-27 20:00:00  5.6    26.700000
1126 2023-06-27 21:00:00  5.3    26.504635
1127 2023-06-27 22:00:00  4.8    26.600000
1128 2023-06-27 23:00:00  4.8    26.200000

[1129 rows x 3 columns]

                    Time   MW  temperature
7175 2023-05-03 00:00:00  3.0    22.000000
7176 2023-05-03 01:00:00  NaN    23.100000
7177 2023-05-03 02:00:00  NaN    25.800000
7178 2023-05-03 03:00:00  2.5    27.800000
7179 2023-05-03 04:00:00  NaN    29.500000
...                  ...  ...          ...
8515 2023-06-27 19:00:00  5.7    26.900000
8516 2023-06-27 20:00:00  5.6    26.700000
8517 2023-06-27 21:00:00  5.3    26.504635
8518 2023-06-27 22:00:00  4.8    26.600000
8519 2023-06-27 23:00:00  4.8    26.200000

[1129 rows x 3 columns]

In [4]:
TcoolStPt = 31
CDH = df['temperature'] - TcoolStPt
CDH.clip(lower=0, inplace=True)
CDH = pd.DataFrame(data=CDH.values, columns=['CDH'], index=df.index)
# Concatenate CDH with the original DataFrame using the index
df = pd.concat([df, CDH], axis=1)
df = df.sort_values('Time')
df.reset_index(inplace=True, drop = True)

numOmegas = 24 * 7
num_of_rows = df.shape[0]
omegas = np.zeros((num_of_rows, numOmegas))  # Assuming numOmegas columns for omegas
concatenated_data = np.concatenate((df, omegas), axis=1)
column_names = ['Time', 'MW', 'temperature', 'CDH']
for i in range(1, numOmegas + 1,1):
    column_names.append('omega' + str(i))

df = pd.DataFrame(concatenated_data, columns=column_names)
df['Time'] = pd.to_datetime(df['Time'])
for i in range(0,num_of_rows):
        datetime = df.Time.loc[i]
        hourOfWeekIndex = int(datetime.dayofweek*24+(datetime.hour+1))
        x = np.zeros((1,numOmegas))
        x[0,hourOfWeekIndex-1]=1
        omegas[i,:]=x

df.iloc[:,4:]=omegas
DF = df.copy()
df = df.dropna()
df.reset_index(inplace=True, drop = True)
df

,Time,MW,temperature,CDH,omega1,omega2,omega3,omega4,omega5,omega6,...,omega159,omega160,omega161,omega162,omega163,omega164,omega165,omega166,omega167,omega168
0,2023-05-03 00:00:00,3.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-05-03 03:00:00,2.5,27.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-05-03 05:00:00,3.0,31.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-05-03 06:00:00,3.5,33.1,2.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-05-03 07:00:00,3.75,29.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2023-06-27 19:00:00,5.7,26.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
886,2023-06-27 20:00:00,5.6,26.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,2023-06-27 21:00:00,5.3,26.504635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,2023-06-27 22:00:00,4.8,26.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,2023-06-27 23:00:00,4.8,26.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:

training_csv_file_path = 'D:\\mlinternship\\iitgdata\\training_data_for_svm.csv'
df.to_csv(training_csv_file_path)

In [6]:
training_df = pd.read_csv(training_csv_file_path)

In [11]:

x = training_df.loc[:, 'CDH':'omega168']
x = x.to_numpy()
y = training_df['MW']
y = y.to_numpy()
y = y.reshape(-1,1)
scaler = StandardScaler()
x = scaler.fit_transform(x)
y = scaler.fit_transform(y)

In [8]:
training_df

,Unnamed: 0,Time,MW,temperature,CDH,omega1,omega2,omega3,omega4,omega5,...,omega159,omega160,omega161,omega162,omega163,omega164,omega165,omega166,omega167,omega168
0,0,2023-05-03 00:00:00,3.00,22.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2023-05-03 03:00:00,2.50,27.800000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2023-05-03 05:00:00,3.00,31.500000,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2023-05-03 06:00:00,3.50,33.100000,2.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2023-05-03 07:00:00,3.75,29.300000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,885,2023-06-27 19:00:00,5.70,26.900000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
886,886,2023-06-27 20:00:00,5.60,26.700000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,887,2023-06-27 21:00:00,5.30,26.504635,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,888,2023-06-27 22:00:00,4.80,26.600000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,889,2023-06-27 23:00:00,4.80,26.200000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:

x

array([[-0.45518532, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657],
       [-0.45518532, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657],
       [-0.14638411, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657],
       ...,
       [-0.45518532, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657],
       [-0.45518532, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657],
       [-0.45518532, -0.03353892, -0.05815657, ..., -0.08903662,
        -0.05815657, -0.05815657]])

In [10]:
y

array([[-1.41632781],
       [-1.96343835],
       [-1.41632781],
       [-0.86921726],
       [-0.59566199],
       [-0.86921726],
       [-0.86921726],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 1.04566964],
       [ 1.42864701],
       [ 1.53806912],
       [ 1.64749123],
       [ 1.42864701],
       [ 1.53806912],
       [ 0.11558171],
       [ 0.02804403],
       [-1.09900369],
       [-1.75553634],
       [-1.78836298],
       [ 0.0061596 ],
       [ 0.0061596 ],
       [-0.43152883],
       [-0.97863937],
       [ 0.55327015],
       [ 0.66269226],
       [ 1.10038069],
       [ 0.55327015],
       [ 0.49855909],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.49855909],
       [ 0.49855909],
       [ 0.22500382],
       [-0.04855145],
       [-0.21268461],
       [-1.06617706],
       [-0.65037305],
       [ 0.13746613],
       [ 0.01710181],
       [-0.14703135],
       [-0.13608914],
       [-0.19080019],
       [ 0.33442593],
       [ 0.66269226],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.99095858],
       [ 0.99095858],
       [ 0.55327015],
       [ 0.44384804],
       [-0.32210672],
       [-0.32210672],
       [-0.86921726],
       [-0.86921726],
       [-1.68988308],
       [-1.96343835],
       [-1.96343835],
       [-1.96343835],
       [-0.54095094],
       [-0.32210672],
       [-0.48623988],
       [-0.75979516],
       [-0.37681778],
       [-0.32210672],
       [-0.43152883],
       [-0.43152883],
       [ 0.3015993 ],
       [ 0.55327015],
       [ 0.87059426],
       [ 0.93624753],
       [ 1.26451385],
       [ 0.99095858],
       [ 0.76117215],
       [ 0.81588321],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-1.41632781],
       [-1.41632781],
       [-0.86921726],
       [-0.86921726],
       [-1.3069057 ],
       [-1.19748359],
       [-1.3069057 ],
       [-1.19748359],
       [-1.08806148],
       [-0.97863937],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.66269226],
       [ 1.10038069],
       [ 0.99095858],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.78305657],
       [ 0.3015993 ],
       [-0.89110169],
       [-1.3069057 ],
       [-1.52574992],
       [ 0.29065709],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [ 0.49855909],
       [ 0.49855909],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.55327015],
       [ 0.66269226],
       [ 1.10038069],
       [ 0.99095858],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.55327015],
       [ 0.55327015],
       [-0.1032625 ],
       [ 0.0061596 ],
       [-0.75979516],
       [ 0.22500382],
       [ 0.66269226],
       [ 0.88153647],
       [ 1.10038069],
       [ 1.10038069],
       [ 0.88153647],
       [ 1.31922491],
       [ 1.53806912],
       [ 1.86633545],
       [ 2.08517967],
       [ 2.19460177],
       [ 1.64749123],
       [ 1.2098028 ],
       [ 0.66269226],
       [ 0.66269226],
       [ 0.22500382],
       [-1.74459413],
       [-1.74459413],
       [-0.32210672],
       [ 0.22500382],
       [-0.32210672],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.49855909],
       [ 0.49855909],
       [ 1.42864701],
       [ 1.31922491],
       [ 1.10038069],
       [ 1.31922491],
       [ 1.75691334],
       [ 1.75691334],
       [ 1.53806912],
       [ 1.42864701],
       [ 0.56421236],
       [ 0.88153647],
       [-1.73365192],
       [-1.96343835],
       [-0.21268461],
       [-0.1032625 ],
       [ 0.0061596 ],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.88153647],
       [ 1.2098028 ],
       [ 1.31922491],
       [ 1.59278018],
       [ 1.59278018],
       [ 1.59278018],
       [ 1.59278018],
       [ 1.04566964],
       [ 1.04566964],
       [-0.73791073],
       [ 0.58609678],
       [ 0.85965205],
       [ 0.61892341],
       [ 1.03472742],
       [ 1.00190079],
       [ 0.93624753],
       [ 0.78305657],
       [ 1.10038069],
       [ 1.53806912],
       [ 1.86633545],
       [ 2.08517967],
       [ 1.53806912],
       [ 0.88153647],
       [ 0.49855909],
       [ 0.22500382],
       [-0.86921726],
       [-0.86921726],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-0.21268461],
       [-0.32210672],
       [-0.7050841 ],
       [-1.63517202],
       [-0.32210672],
       [-0.04855145],
       [-0.21268461],
       [-0.37681778],
       [ 0.07181287],
       [ 0.47667467],
       [ 0.49855909],
       [ 0.54232794],
       [ 0.2031194 ],
       [ 0.2031194 ],
       [ 0.08275508],
       [ 0.06087066],
       [ 0.55327015],
       [ 0.0061596 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-0.97863937],
       [-0.97863937],
       [-0.97863937],
       [-0.75979516],
       [-0.75979516],
       [-0.43152883],
       [-0.32210672],
       [ 0.22500382],
       [ 0.27971488],
       [ 0.27971488],
       [ 0.66269226],
       [ 0.6079812 ],
       [ 0.49855909],
       [-0.32210672],
       [ 0.22500382],
       [-0.04855145],
       [-0.32210672],
       [ 0.49855909],
       [ 0.49855909],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.88153647],
       [ 1.10038069],
       [ 1.10038069],
       [ 1.10038069],
       [ 0.99095858],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.17029277],
       [ 0.22500382],
       [ 0.0061596 ],
       [-1.41632781],
       [-1.41632781],
       [-1.52574992],
       [-0.32210672],
       [ 0.11558171],
       [-0.43152883],
       [-0.1032625 ],
       [ 0.11558171],
       [ 0.22500382],
       [ 0.33442593],
       [ 0.55327015],
       [ 0.55327015],
       [ 0.22500382],
       [ 0.77211436],
       [ 1.04566964],
       [ 1.04566964],
       [ 0.22500382],
       [ 0.22500382],
       [-0.32210672],
       [-0.32210672],
       [-0.86921726],
       [-0.86921726],
       [-1.74459413],
       [-1.96343835],
       [-1.96343835],
       [-0.32210672],
       [-0.32210672],
       [-0.86921726],
       [-0.86921726],
       [-0.32210672],
       [ 0.22500382],
       [ 0.0061596 ],
       [ 0.11558171],
       [ 0.22500382],
       [ 0.44384804],
       [ 0.66269226],
       [ 0.99095858],
       [ 0.55327015],
       [ 0.44384804],
       [-0.43152883],
       [-0.65037305],
       [-0.21268461],
       [ 0.22500382],
       [ 0.22500382],
       [-0.1032625 ],
       [-0.32210672],
       [ 0.22500382],
       [ 0.49855909],
       [ 0.49855909],
       [ 0.22500382],
       [ 0.22500382],
       [-0.32210672],
       [-0.32210672],
       [-0.47529767],
       [-0.9020439 ],
       [-0.88015947],
       [-0.31116451],
       [ 0.15935056],
       [ 0.29065709],
       [ 0.44384804],
       [ 0.45479025],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.66269226],
       [ 0.33442593],
       [-0.32210672],
       [-0.32210672],
       [-0.86921726],
       [-1.96343835],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-1.08806148],
       [-1.08806148],
       [-1.41632781],
       [-0.86921726],
       [-0.65037305],
       [-0.65037305],
       [-0.47529767],
       [-0.21268461],
       [ 0.13746613],
       [ 0.17029277],
       [ 0.73928773],
       [ 0.68457668],
       [ 0.55327015],
       [ 0.11558171],
       [-0.32210672],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.41632781],
       [-1.41632781],
       [-1.63517202],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-0.97863937],
       [-1.08806148],
       [-0.86921726],
       [-0.54095094],
       [-0.43152883],
       [-0.32210672],
       [-0.32210672],
       [-0.43152883],
       [-1.41632781],
       [-0.86921726],
       [-0.86921726],
       [-0.86921726],
       [-0.32210672],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.86921726],
       [ 0.11558171],
       [-0.65037305],
       [-0.21268461],
       [-0.1032625 ],
       [-0.75979516],
       [ 0.44384804],
       [ 0.33442593],
       [-0.04855145],
       [ 0.22500382],
       [ 1.2098028 ],
       [-0.86921726],
       [-0.86921726],
       [-1.19748359],
       [-1.96343835],
       [-1.96343835],
       [-0.43152883],
       [-0.86921726],
       [-0.86921726],
       [-0.59566199],
       [ 0.0061596 ],
       [-0.21268461],
       [-0.59566199],
       [ 0.33442593],
       [ 0.55327015],
       [ 0.66269226],
       [ 0.77211436],
       [ 0.88153647],
       [ 0.99095858],
       [ 1.10038069],
       [ 0.55327015],
       [ 0.33442593],
       [-0.81450621],
       [-1.14277254],
       [-1.19748359],
       [-0.75979516],
       [-0.1032625 ],
       [ 0.77211436],
       [ 0.66269226],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [-0.32210672],
       [-0.86921726],
       [-1.85401624],
       [-0.75979516],
       [ 0.0061596 ],
       [ 0.44384804],
       [ 0.55327015],
       [ 1.42864701],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.33442593],
       [ 0.33442593],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.88153647],
       [ 0.22500382],
       [ 0.22500382],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [-0.32210672],
       [-1.96343835],
       [-1.96343835],
       [-2.51054889],
       [-2.51054889],
       [-1.96343835],
       [-0.37681778],
       [-1.25219464],
       [-0.92392832],
       [-0.97863937],
       [-1.3069057 ],
       [-1.19748359],
       [-0.59566199],
       [-0.35493335],
       [-0.43152883],
       [-0.43152883],
       [-0.58471978],
       [-0.86921726],
       [-0.86921726],
       [-0.86921726],
       [-1.96343835],
       [-1.96343835],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-1.08806148],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.19748359],
       [-1.41632781],
       [-1.63517202],
       [-1.55857655],
       [-0.48623988],
       [-0.1032625 ],
       [-0.21268461],
       [-0.21268461],
       [-0.92392832],
       [-0.86921726],
       [ 0.0061596 ],
       [-0.43152883],
       [ 0.0061596 ],
       [ 0.17029277],
       [ 0.11558171],
       [ 0.49855909],
       [ 0.55327015],
       [ 0.55327015],
       [ 0.77211436],
       [ 0.88153647],
       [ 0.88153647],
       [ 1.31922491],
       [ 1.31922491],
       [ 1.31922491],
       [-0.1032625 ],
       [-0.1032625 ],
       [ 0.11558171],
       [ 0.33442593],
       [ 0.44384804],
       [ 0.44384804],
       [ 0.55327015],
       [ 0.44384804],
       [ 0.66269226],
       [ 0.66269226],
       [ 1.42864701],
       [ 1.42864701],
       [ 1.31922491],
       [ 1.31922491],
       [ 0.88153647],
       [ 0.88153647],
       [ 1.42864701],
       [ 1.31922491],
       [-0.32210672],
       [-0.21268461],
       [-0.1032625 ],
       [ 0.33442593],
       [ 0.66269226],
       [ 0.99095858],
       [ 0.88153647],
       [ 0.99095858],
       [ 1.23168722],
       [ 1.76785555],
       [ 2.12894851],
       [ 1.9210465 ],
       [ 1.87727766],
       [ 1.83350882],
       [ 1.63654902],
       [ 1.62560681],
       [ 0.33442593],
       [ 0.22500382],
       [ 0.44384804],
       [ 0.55327015],
       [ 0.88153647],
       [ 0.99095858],
       [ 1.04566964],
       [ 1.53806912],
       [ 1.75691334],
       [ 0.77211436],
       [ 1.10038069],
       [ 1.31922491],
       [ 0.99095858],
       [ 0.88153647],
       [-0.08137808],
       [-0.22362682],
       [-0.23456903],
       [ 0.23594603],
       [ 0.95813195],
       [ 0.92530532],
       [ 0.96907416],
       [ 0.95813195],
       [ 1.2098028 ],
       [ 1.53806912],
       [ 1.86633545],
       [ 1.86633545],
       [ 1.64749123],
       [ 1.75691334],
       [ 1.53806912],
       [ 1.2098028 ],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.37681778],
       [-0.37681778],
       [-0.86921726],
       [-0.43152883],
       [-0.38775999],
       [-0.1032625 ],
       [ 0.11558171],
       [ 0.11558171],
       [ 0.0061596 ],
       [ 0.5095013 ],
       [ 0.9143631 ],
       [ 1.40676259],
       [ 1.3082827 ],
       [ 1.47241586],
       [ 1.35205154],
       [ 1.46147365],
       [ 1.23168722],
       [ 1.42864701],
       [ 1.31922491],
       [-0.54095094],
       [-0.32210672],
       [-0.21268461],
       [-0.43152883],
       [-0.43152883],
       [-0.43152883],
       [-0.54095094],
       [-0.54095094],
       [-0.43152883],
       [ 0.0061596 ],
       [ 0.22500382],
       [ 0.27971488],
       [ 0.44384804],
       [ 0.77211436],
       [ 0.49855909],
       [ 0.44384804],
       [ 1.24262943],
       [ 1.28639827],
       [ 0.81588321],
       [ 0.04992845],
       [ 0.1046395 ],
       [-0.21268461],
       [-0.1032625 ],
       [-0.1032625 ],
       [ 0.0061596 ],
       [ 0.77211436],
       [ 0.99095858],
       [ 1.2098028 ],
       [ 1.31922491],
       [ 1.04566964],
       [ 1.04566964],
       [ 1.86633545],
       [ 1.86633545],
       [ 1.31922491],
       [ 1.31922491],
       [ 1.31922491],
       [ 1.31922491],
       [ 0.88153647],
       [ 1.31922491],
       [ 0.27971488],
       [-0.04855145],
       [-0.04855145],
       [ 0.11558171],
       [ 0.11558171],
       [ 0.11558171],
       [ 0.22500382],
       [ 1.10038069],
       [ 0.99095858],
       [ 1.64749123],
       [ 1.75691334],
       [ 1.97575756],
       [ 2.19460177],
       [ 1.31922491],
       [ 2.41344599],
       [ 2.68700126],
       [ 1.86633545],
       [ 1.86633545],
       [ 1.86633545],
       [ 1.86633545],
       [ 1.31922491],
       [ 1.86633545],
       [ 1.97575756],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.08806148],
       [-1.19748359],
       [-1.63517202],
       [-1.63517202],
       [-1.63517202],
       [-0.86921726],
       [-0.75979516],
       [ 0.22500382],
       [ 0.44384804],
       [ 0.22500382],
       [ 0.22500382],
       [-0.43152883],
       [-0.43152883],
       [-0.86921726],
       [-0.86921726],
       [-1.96343835],
       [-1.96343835],
       [-1.68988308],
       [-1.68988308],
       [-1.96343835],
       [-1.68988308],
       [-1.08806148],
       [-1.08806148],
       [-1.85401624],
       [-1.74459413],
       [-0.65037305],
       [-0.54095094],
       [-1.19748359],
       [-1.19748359],
       [-1.41632781],
       [-1.41632781],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-0.75979516],
       [-0.75979516],
       [-1.19748359],
       [-1.96343835],
       [-1.96343835],
       [-1.3069057 ],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.74459413],
       [-1.52574992],
       [-1.52574992],
       [-1.47103886],
       [-1.08806148],
       [-1.08806148],
       [-0.97863937],
       [-0.97863937],
       [-1.08806148],
       [-1.14277254],
       [-0.86921726],
       [-1.14277254],
       [-1.14277254],
       [-1.14277254],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.97863937],
       [-0.97863937],
       [-0.65037305],
       [-0.65037305],
       [-0.65037305],
       [-1.3069057 ],
       [-1.3069057 ],
       [-1.3069057 ],
       [-0.65037305],
       [-0.65037305],
       [-1.96343835],
       [-1.99626498],
       [-1.08806148],
       [-0.43152883],
       [-0.43152883],
       [-0.21268461],
       [-0.1032625 ],
       [-0.21268461],
       [-0.1032625 ],
       [ 0.0061596 ],
       [ 0.33442593],
       [-0.32210672],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [-0.04855145],
       [-0.04855145],
       [-0.32210672],
       [-0.32210672],
       [-1.19748359],
       [-1.19748359],
       [-1.19748359],
       [-1.96343835],
       [-1.96343835],
       [-1.96343835],
       [-1.41632781],
       [-0.86921726],
       [-1.14277254],
       [-1.14277254],
       [-0.86921726],
       [-0.32210672],
       [-0.04855145],
       [-0.04855145],
       [-0.21268461],
       [-0.1032625 ],
       [ 0.11558171],
       [ 0.33442593],
       [ 0.66269226],
       [ 0.55327015],
       [ 0.33442593],
       [ 0.11558171],
       [-0.23456903],
       [-0.37681778],
       [-1.43821223],
       [-2.23699362],
       [-2.24793583],
       [-1.19748359],
       [-0.65037305],
       [-0.48623988],
       [-0.43152883],
       [-0.15797356],
       [-0.21268461],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [ 0.22500382],
       [-0.6066042 ],
       [-0.47529767],
       [-0.3002223 ],
       [-0.05949366],
       [ 0.58609678],
       [ 0.71740331],
       [ 0.87059426],
       [ 0.90342089],
       [ 0.66269226],
       [ 0.66269226],
       [ 0.99095858],
       [ 0.77211436],
       [ 0.77211436],
       [-0.32210672],
       [-0.32210672],
       [-0.32210672],
       [ 0.22500382],
       [ 0.22500382],
       [-0.86921726],
       [-0.86921726],
       [-0.86921726],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-0.75979516],
       [-0.7050841 ],
       [-0.7050841 ],
       [-0.43152883],
       [-0.32210672],
       [-0.1032625 ],
       [-0.1032625 ],
       [-0.15797356],
       [ 0.0061596 ],
       [ 0.52044351],
       [ 0.57515457],
       [ 0.68457668],
       [ 0.92530532],
       [ 1.24262943],
       [ 0.90342089],
       [ 0.77211436],
       [ 0.77211436],
       [ 0.77211436],
       [-1.41632781],
       [-1.41632781],
       [-1.41632781],
       [-1.19748359],
       [-1.19748359],
       [-1.19748359],
       [-1.19748359],
       [-0.86921726],
       [-0.86921726],
       [-0.32210672],
       [-0.32210672],
       [ 0.33442593],
       [ 0.44384804],
       [ 0.66269226],
       [ 0.99095858],
       [ 1.2098028 ],
       [ 1.31922491],
       [ 1.2098028 ],
       [ 0.99095858],
       [ 0.96907416],
       [ 0.83776763],
       [-1.31784791],
       [-1.07711927],
       [ 0.33442593],
       [ 0.33442593],
       [ 0.22500382],
       [ 0.11558171],
       [ 0.88153647],
       [ 1.31922491],
       [ 1.42864701],
       [ 1.42864701],
       [ 1.31922491],
       [ 1.31922491],
       [ 1.31922491],
       [ 0.99095858],
       [ 0.99095858],
       [ 0.99095858],
       [ 0.99095858],
       [ 1.04566964],
       [ 1.31922491],
       [ 0.66269226],
       [-0.54095094],
       [-0.1032625 ],
       [-0.21268461],
       [-0.1032625 ],
       [ 0.22500382],
       [ 0.55327015],
       [ 0.99095858],
       [ 1.10038069],
       [ 1.31922491],
       [ 1.31922491],
       [ 1.42864701],
       [ 1.64749123],
       [ 1.53806912],
       [ 1.75691334],
       [ 1.53806912],
       [ 1.53806912],
       [ 1.53806912],
       [ 1.42864701],
       [ 1.10038069],
       [ 0.55327015],
       [ 0.55327015]])